.root {
  main-bg: #BBB;
  main-font-color: #800080;
}

.button {
  -fx-font-weight: bold;
}

.text-area {
  -fx-text-fill: main-font-color;
}

.text-area .content {
  -fx-background-color: main-bg;
}

.opinion-modifier-item {
  -fx-border-color: #009999;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}